<div class="row">
    <div class="col-md-12">
        <% collect.websites.any? %>
        <% collect.websites.each do |url| %>
        
          <h3 style="padding-left:10%"><%= link_to url.url, url , style:"color:white",:remote => true %> </h3>
          <%= link_to "Delete", website_path(url.id, collection_id: collect.id),
                    data: { confirm: "Are you sure?" },
                    style:"padding-left:10%;color:white;font-style:italic",

                       method: :delete %><br>
        
        <% end %>
    </div>
</div>



